h1{
    font-style: italic;
    font-variant: small-caps;
    text-align: center;
}
.p{
padding: 20px;
margin: 20px 10px;
}
.p1{
background-color: #efff33;
border-width: 5px;
border-style: solid;
border-color: #09c;
}

.p2{
background-color: #efff33;
border: 5px solid #09c;    
}
.p3{
    background-color: #efff33;
    border: 5px ridge #09c;
}
.p4{
    background-color: #efff33;
    border: 5px ridge #09c;
}
.lestarifs {
text-align: center;
background-color: #efff33 
padding: 10px;
border: solid 10px rgb(57, 134, 57)
border-top: 10px darkgreen 
border-right: 10px yellowgreen;
border-bottom: 10px darkgreen solid;
border-left: 10px yellowgreen dashed; 
border-radius: 10px 10px 10px

}
footer {
    text-align: center;
    padding: 5px;
    background-color: #abbaba;
    color: #000;
  }
  
