.nav{
    background-color: crimson;
    text-align: center;
}

body{
    background-color: yellow;
}

/*pour les écrans quand la largeur de la fenetre fait au maximum 1200px*/
@media screen and (max-width:1200px) {}

/*Pour tous types d'écrans, quand la largeur de la fenêtre est comprise entre1024px et 1280px*/
    @media all and (min-width:1024px) and (max-width :1280px)
